apipkg==1.5
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
contextlib2==0.6.0.post1
cycler==0.10.0
execnet==1.7.1
idna==2.10
iniconfig==1.1.1
kiwisolver==1.3.1
matplotlib==3.3.3
mock==4.0.2
numpy==1.19.4
oauthlib==3.1.0
packaging==20.7
path==15.0.0
path.py==12.5.0
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.1.2
pytest-shutil==1.7.0
python-dateutil==2.8.1
requests==2.25.0
requests-oauthlib==1.3.0
six==1.15.0
termcolor==1.1.0
toml==0.10.2
tweepy==3.9.0
urllib3==1.26.2
wordcloud==1.8.1
